@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@font-face {
  font-family: 'Gravity Falls';
  src: url('./gravity-falls/gravitation_falls.ttf');
}

h1 {
  color: #55893b;
  font-family: 'Acme', sans-serif;
  text-shadow: -7px 5px #2e1010;
  -webkit-text-stroke: 2px #2e1010;
  font-size: 5.5rem;
  font-weight: bolder;
  text-align: center;
}

.header {
  background: url('../images/wallpaper.jpg') no-repeat;
  background-size: cover;
  background-position: center 30%;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.header p {
  color: #55893b;
  font-size: 1.3rem;
  font-family: 'Gravity Falls', 'Acme', sans-serif;
  -webkit-text-stroke: 1px #2e1010;
}

.score {
  font-size: 1.5rem;
  position: relative;
  top: 0.35rem;
  font-weight: bolder;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 4.1rem;
  }
}
